<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smdsemesterprojectclassroom">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMDSemesterProjectClassroom">
        <activity
            android:name=".AdminPortal.AdminPortalActivity"
            android:exported="true" />
        <activity
            android:name=".StudentQuizActivity"
            android:exported="true" />
        <activity
            android:name=".StudentPortal.StudentClassDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".TeacherPortal.TeacherClassDetailsActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".LoggedOutRouting.LoggedOutActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".TeacherPortal.TeacherQuizCreation.CreateQuizActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".StudentPortal.MyClassesActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".TeacherPortal.CreateClassActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".TeacherPortal.TeacherPortalActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".AdminPortal.AddTeacherActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".AdminPortal.AddStudentActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>